django==3.1.10
django-model-utils==4.0.0 # Набор полезных базовых классов и утилит для Django
django-debug-toolbar==2.2  # Конфигурируемая панель с информацией для отладки проекта
gunicorn==20.0.4  # Боевой http-сервер для python-приложений
psycopg2>=2.8